{% load static %}
<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>



    {% comment %} Header {% endcomment %}
    <header id="header">
        <span class="logo">Django Delights</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'dashboard' %} class='selected' {% endif %}>
                <a href="{% url "dashboard" %}">My dashboard</a>
            </li>
            <li {% if section == "Purchases" %} class="selected" {% endif %} >
                <a href="#">Purchases</a>
            </li>
            <li {% if section == "MenuItems" %} class="selected" {% endif %} >
                <a href="#">Menu Items</a>
            </li>
            <li {% if section == "RecipeItems" %} class="selected" {% endif %} >
                <a href="#">Recipe Items</a>
            </li>
            <li {% if section == "Inventory" %} class="selected" {% endif %} >
                <a href="{% url 'ingredientlist' %} ">Inventory</a>
            </li>
            <li {% if section == "Log out" %} class="selected" {% endif %} >
                <a href="{% url "logout" %}">Log out</a>
            </li>
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name | default:request.user.username }} {{ request.user.last_name }}
            {% else %}
                <a href="{% url "login"  %}">Log-in</a>
            {% endif %}
        </span>
    </header>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
            <a href="#" class="close">x</a>
            </li>
        {% endfor %}    
    </ul>
    {% endif %}

    {% comment %} Content {% endcomment %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% comment %} Footer {% endcomment %}
    <div id="footer">
        CONTACT FOOTER INFORMATION
    </div>
</body>
</html>